@charset "UTF-8";
/*----- Common Style -----*/
body{font-family: "Times New Roman", Times, serif;}
[class^=icon-]{font-size:1.6rem;vertical-align:-5px;}
/*建立邊框的四外圍*/
[data-decoration="corner"]{position: relative; top: 0%; right: 0; bottom: 0; left: 0;  }
[data-decoration="corner"]>div{position: absolute; width: 0.8rem; height: 0.8rem;visibility:hidden; opacity: 0; transition: all 0.5s;}
[data-decoration="corner"]>div:nth-of-type(1){border-left: 1px solid green; border-top: 1px solid green; left: 0; top: 0}
[data-decoration="corner"]>div:nth-of-type(2){border-right: 1px solid green; border-top: 1px solid green; right: 0; top: 0}
[data-decoration="corner"]>div:nth-of-type(3){border-right: 1px solid green; border-bottom: 1px solid green; right: 0; bottom: 0}
[data-decoration="corner"]>div:nth-of-type(4){border-left: 1px solid green; border-bottom: 1px solid green; left: 0; bottom: 0}


#header>div>div:nth-of-type(2) a{position: relative; z-index: 1;}
#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1){display: flex; position: relative; z-index: 10; line-height: 2.5rem;}
#header>div>div:nth-of-type(2)>nav{text-transform: capitalize;}
#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>label,
#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>label>span{display: block;}
#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>label>span::before{vertical-align: middle; font-size: 0.5rem;}
input[data-interative], [data-icon]{display: none;}
#header>div>div:nth-of-type(1)>h1,#header>div>div:nth-of-type(2) a{display:block;}

#footer{padding: 3rem 2rem; background-color: #3a3c3f;}
#footer>div>section{text-align: center; padding: 1rem 0; }
#footer>div>section>img{width: auto; height: 100%; margin:0 auto; }

#footer>div>section:nth-of-type(3){width: 100%;}
#footer>div>section:nth-of-type(3){padding: 1rem;}
#footer>div>section:nth-of-type(3)>ul{display: flex; justify-content: center;}
#footer>div>section:nth-of-type(3)>ul>li{margin:0 1rem;}
#footer>div>section:nth-of-type(3)>ul>li>div{width: 100%;}
#footer>div>section:nth-of-type(3)>ul>li>div>a{display: block; text-align:center;padding: 0.5rem;}
#footer>div>section:nth-of-type(3)>ul>li [class^=icon-]:hover{color: lightgreen; transition: all 0.5s;}
#footer>div>section:nth-of-type(3)>ul>li:hover>[data-decoration=corner]>div{visibility: visible; opacity: 1;}

@media screen and (max-width:1280px) {
	[data-interative="menu_bar"]{display:inline;width:2.5rem;line-height:2.5rem;padding:0 5px;font-size:2rem;vertical-align:2px;
		margin-right:0.5rem;}
	#header{position: relative; }
	#header>div{position: fixed; z-index: 3; top: 0; width: 100%; background-color: white; padding-top: 0.3rem;} 
	#header>div>#menubar:checked+div{left: 0;}
	#header>div>div:nth-of-type(1)>div{padding: 0; position: relative; z-index: 2; background-color: white;}
	#header>div>div:nth-of-type(1)>div>img{width: auto; height: 100%;}
	#header>div>div:nth-of-type(1) h1{display: none;}
	#header>div>div:nth-of-type(1){border-bottom:1px solid #aaa;}
	#header>div>div:nth-of-type(2){position: absolute; background-color: white; width: 70%; top: 100%; ;left: -100%; transition: all 0.5s; height: 90vh; overflow: scroll;z-index: 3;}
	

	#header>div>div:nth-of-type(2)>section,#header>div>div:nth-of-type(2)>nav{width: 100%;}
	#header>div>div:nth-of-type(2)>section{padding: 1rem;}
	#header>div>div:nth-of-type(2)>section>ul{display: flex; justify-content: center;}
	#header>div>div:nth-of-type(2)>section>ul>li{margin:0 1rem;}
	#header>div>div:nth-of-type(2)>section>ul>li>div{width: 100%;}
	#header>div>div:nth-of-type(2)>section>ul>li>div>a{display: block; text-align:center;padding: 0.5rem;}
	#header>div>div:nth-of-type(2)>section>ul>li [class^=icon-]:hover{color: lightgreen; transition: all 0.5s;}
	#header>div>div:nth-of-type(2)>section [data-decoration=corner]>div{visibility: visible; opacity: 1;}
	#header>div>div:nth-of-type(2)>nav>ul>li[data-link=active]{background-color: lightgreen; color: white;}
	#header>div>div:nth-of-type(2)>nav>ul>li a{line-height: 2.5rem;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>div{display: none;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>a{width: calc(100% - 2rem); font-weight: bold; padding: 0 0.5rem;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>span{width: 2rem; display: block; text-align: center;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>label>h3{font-size: 1rem; padding: 1rem 1.5rem; cursor: pointer;}
	#header>div>div:nth-of-type(2)>nav>ul>li:hover>div:nth-of-type(1),
	#header>div>div:nth-of-type(2)>nav>ul>li>ul>li:hover>a,
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section:hover>label>h3{ background-color: lightgreen; color: white; transition: all 0.5s;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul>li:hover>a{background-color: pink; color: blue; transition: all 0.5s;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>div{width: 80%; margin: 0.5rem auto; border-bottom: 1px solid #aaa;}
	#header>div>div:nth-of-type(2)>nav>ul>li>ul, #header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu],
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul{display: none;}
	#header>div>div:nth-of-type(2)>nav>ul>li>ul>li>a, #header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu] a{padding: 0 2.5rem;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>label>span{transform: rotate(0deg); transform-origin: center; transition: all 0.5s;}
	#header>div>div:nth-of-type(2)>nav>ul>li>input[data-interative="btn"]:checked~div:nth-of-type(1)>label>span{transform: rotate(180deg);}
}

@media screen and (min-width:1281px){
	[data-interative="btn"]{display: none;}
	#header>div>div:nth-of-type(2)>nav a{font-size: 1.2vw;}
	#header>div{width: 85%; margin: 0 auto; display: flex; padding: 1rem 0; position: relative;} /*這裡的relative是針對下方導覽列的div*/
	#header>div>div:nth-of-type(1){width: 20%;}
	#header>div>div:nth-of-type(1) h1{letter-spacing:0.15vw;}
	#header>div>div:nth-of-type(1) span{display: none; }


	#header>div>div:nth-of-type(2){width: 80%; padding: 1rem; display: flex;}
	
	#header>div>div:nth-of-type(2)>section{width: 20%; order: 2; padding: 0 1rem;}
	#header>div>div:nth-of-type(2)>section>ul{display: flex;}
	#header>div>div:nth-of-type(2)>section>ul>li{width: 100%; margin: 0 0.5rem;}
	#header>div>div:nth-of-type(2)>section>ul>li>div[data-decoration=corner]>a{padding: 0.5rem; margin: 0 auto; text-align: center; visibility: visible; opacity: 1;}
	#header>div>div:nth-of-type(2)>section>ul>li:hover>div[data-decoration=corner]>div{visibility: visible; opacity: 1;}
	
	#header>div>div:nth-of-type(2)>nav{width: 80%; order: 1; padding: 0 1rem;}
	#header>div>div:nth-of-type(2)>nav>ul{display: flex; justify-content: space-around;}
	#header>div>div:nth-of-type(2)>nav>ul>li{width: 19%; transition: all 0.5s;}
	/*#header>div>div:nth-of-type(2)>nav>ul>li>div>a{widows: 50%;}*/
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>a{width: auto; padding-right: 0.5rem;}
	#header>div>div:nth-of-type(2)>nav>ul>li[data-link=active]>div:nth-of-type(1)>a{color: lightgreen; width:100%;text-align: center; padding-right: 0; /*transition: all 1s;*/}
	#header>div>div:nth-of-type(2)>nav>ul>li[data-link=active]>div[data-decoration=corner]>div{visibility: visible; opacity: 1;}
	#header>div>div:nth-of-type(2)>nav>ul>li>ul>li:hover{background-color: lightgreen;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1){display: flex; justify-content: center; margin: 0 0.5rem;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>label>span{display: block; vertical-align: sub;}
	
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>a:hover{color: lightgreen;}
	#header>div>div:nth-of-type(2)>nav>ul>li>ul>li{padding: 1rem 0; text-align: center;}
	/*#header>div>div:nth-of-type(2)>nav>ul>li:hover>div[data-decoration=corner]{visibility: visible;opacity: 1;}*/
	#header>div>div:nth-of-type(2)>nav>ul>li>ul li:hover>a{color:white;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div{display: flex; z-index: 100;}
	#header>div>div:nth-of-type(2)>nav>ul>li section{padding: 0 1rem;  width: 25%;}

	#header>div>div:nth-of-type(2)>nav>ul>li>div a{text-align: center;}
	#header>div>div:nth-of-type(2)>nav>ul>li[data-layout=level1_menu]{position: relative;}
	#header>div>div:nth-of-type(2)>nav>ul>li>ul{position: absolute; top:calc(100% + 3rem); opacity: 0; transition: all 0.5s;}
	#header>div>div:nth-of-type(2)>nav>ul>li>ul{background-color:white;width:130%; visibility: hidden; border-bottom:3px solid green;box-shadow:0 0 1px #666; z-index: 100;}
	#header>div>div:nth-of-type(2)>nav>ul>li:hover>ul{visibility: visible; opacity: 1; top:calc(100% + 1rem);}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]{position: absolute; background: white; width:100%; top: 100%; 
		left: 0; visibility: hidden; opacity: 0; top:calc(100%);transition: all 0.5s;
		border-bottom:3px solid green;box-shadow:0 0 1px #666;}
	#header>div>div:nth-of-type(2)>nav>ul>li:hover>div[data-layout=submenu]{ visibility: visible; opacity: 1; top:calc(100% - 1rem); }
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section h3{font-size: 1.3rem; font-weight: bold; padding: 1rem 0; border-bottom: 3px solid black; text-align: center;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul{padding: 1rem 0;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul>li{padding:0rem 1rem; text-align: center;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul>li:hover{background-color:lightgreen;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul>li>a{width: 100%; line-height:1.5rem;padding:0.5rem 0;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div[data-layout=submenu]>section>ul>li:hover>a{color:white;}
	#header>div>div:nth-of-type(2)>nav>ul>li>div:nth-of-type(1)>label>span{transform: rotate(0deg); transform-origin: center; transition: all 0.5s;}
	#header>div>div:nth-of-type(2)>nav>ul>li:hover>div:nth-of-type(1)>label>span{transform: rotate(180deg);}
}