#slider{padding: 2rem 0; overflow: hidden;/* background: yellow;*/}
#slider>div{position: relative; /*background: pink;*/ overflow: hidden;}
#slider>div:nth-of-type(1)>section:nth-of-type(1){ z-index: 40; opacity: 0; animation:fadeIn 0.5s 1s forwards;}
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure.active{padding:1rem;box-shadow:0 0 4px #333; background: white; overflow: hidden;}
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure.active:hover>:last-child{transform:scale(1);opacity:1; background-color: rgba(26, 255, 140, 0.5);}
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure{position: absolute; left: 100%;}
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child{position: absolute; top: 0; left: 0; width: calc(100%); height: calc(100%);  
													  display:flex; flex-direction: column; justify-content: center; align-items: center;color: white; opacity: 0;  transition: all 0.3s; transform:scale(1.5);}
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child>figcaption{font-size: 1.3rem; font-weight: bold; padding: 1rem 0; position: relative; margin-bottom: 1rem; }
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child>figcaption::before{content: " "; position: absolute; left:35%;top:0; width: 30%; height: 100%;  border-bottom:3px solid white;}
#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child>p{color:white; font-size:0.9rem; line-height: 1.3rem; width: 70%; text-align: justify;}
#slider>div:nth-of-type(1)>section:nth-of-type(2)>a{position: absolute; top: 0; width: 20%; height: 100%;}
#slider>div:nth-of-type(1)>section:nth-of-type(2)>:first-child{left: 0;}
#slider>div:nth-of-type(1)>section:nth-of-type(2)>:last-child{left: 80%;}
#slider>div:nth-of-type(2){display: none;}

.o2R{animation:o2R 1s forwards;}
.r2A{animation:r2A 1s forwards;}
.a2L{animation:a2L 1s forwards;}
.l2O{animation:l2O 1s forwards;}

.o2L{animation:o2L 1s forwards;}
.l2A{animation:l2A 1s forwards;}
.a2R{animation:a2R 1s forwards;}
.r2O{animation:r2O 1s forwards;}

.or2A{animation:or2A 1s forwards;}
.a2OL{animation:a2OL 1s forwards;}

/*右畫面外 -> 右畫面*/
@keyframes o2R{
	from{left: 100%; top: 10%; width: 50%; opacity: 0; height:auto;z-index:40;}
	to{left: 75%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
}
/*右畫面 -> 中間*/
@keyframes r2A{
	from{left: 70%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
	to{left: 20%; top: 0%; width: 60%; opacity: 1; height:auto;z-index:41;}
}
/*中間 -> 左畫面*/
@keyframes a2L{
	from{left: 20%; top: 0%; width: 60%; opacity: 1; height:auto;z-index:41;}
	to{left: -25%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
}
/*左畫面 -> 左畫面外*/
@keyframes l2O{
	from{left: -25%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
	to{left: -70%; top: 10%; width: 50%; opacity: 0; height:auto;z-index:40;}
}


/*左畫面外 -> 左畫面*/
@keyframes o2L{
	from{left: -50%; top: 10%; width: 50%; opacity: 0; height:auto;z-index:40;}
	to{left: -30%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
}
/*左畫面 -> 中間*/
@keyframes l2A{
	from{left: -30%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
	to{left: 20%;  top: 0%; width: 60%; opacity: 1; height:auto;z-index:41;}
}
/*中間 -> 右畫面*/
@keyframes a2R{
	from{left: 20%; top: 0%; width: 60%; opacity: 1; height:auto;z-index:41;}
	to{left: 70%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
}
/*右畫面 -> 右畫面外*/
@keyframes r2O{
	from{left: 70%; top: 10%; width: 50%; opacity: 0.5; height:auto;z-index:40;}
	to{left: 100%; top: 10%; width: 50%; opacity: 0; height:auto;z-index:40;}
}
@keyframes fadeIn{
	0%{opacity:0;}
	20% {opacity:0;}
	100%{opacity:1;}
}

@keyframes or2A{
	from{left:103%;}
	to  {left:0;}
}

@keyframes a2OL{
	from{left:0;}
	to  {left:-103%;}
}

#aboutme>div>section:nth-of-type(1)>[data-decoration="corner"]{position: relative;}
#aboutme>div>section:nth-of-type(1)>div:nth-of-type(1){padding: 1rem;}
#aboutme>div>section:nth-of-type(1)>[data-decoration="corner"]>div{width: 3rem; height: 3rem; visibility: visible; opacity: 1;}
#aboutme>div>section:nth-of-type(1)>[data-decoration="corner"]>div:nth-of-type(2),
#aboutme>div>section:nth-of-type(1)>[data-decoration="corner"]>div:nth-of-type(4){display: none;}
#aboutme>div>section{display: flex; flex-direction: column; justify-content: center; align-items: center;}
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(1){padding: 2rem 0; border-bottom: 1px solid black; }
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(1)>h2{font-size: 2rem; margin-bottom: 2rem;}
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(1)>p{font-size: 1.2rem; color: #666; font-style: italic; line-height: 1.5rem;}
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(2){padding: 2rem 0;}
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(2)>p{line-height: 1.5rem; color: #666;}
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(2)>a{font-size: 1rem; display: block; padding: 1.5vw 0; margin: 3vw auto; width: 50%; text-align: center; border: 2px solid green; color: green; transition: all 0.5s;}
#aboutme>div>section:nth-of-type(2)>div:nth-of-type(2)>a:hover{background-color: green; color: white;}
#award>div{background:url("../images/bg-image-7-1920x1244.jpg") no-repeat center; padding: 4rem 0; background-attachment: fixed;}
#award>div>div:nth-of-type(1){ margin: 0 auto; display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;}
#award>div>div:nth-of-type(1)>figure>div:nth-of-type(1){height:110px;width:110px;
margin:0 auto;}
#award>div>div:nth-of-type(1)>figure>div:nth-of-type(2){padding: 2rem 0; text-align: center; color: white;}
#award>div>div:nth-of-type(1)>figure>div:nth-of-type(2)>p{padding-top: 1rem;}
#award>div>div:nth-of-type(1)>figure>div:nth-of-type(2)>div{width: 25%; margin: 1rem auto; border-bottom: 3px solid white;}

#Portfolio{padding: 2rem 0;}
#Portfolio>div>section:nth-of-type(1)>h2{margin-bottom: 2rem; text-align: center; font-size: 2rem;}
#Portfolio>div>section:nth-of-type(2){display: grid; grid-gap: 1.5rem; width: 95%; margin:0 auto;}
#Portfolio>div>section:nth-of-type(2)>figure{position: relative; width: 100%; overflow: hidden;}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(1){ height: 100%;}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(1)>img{transform: scale(1.15); height: 100%; transition: all 0.3s;}
#Portfolio>div>section:nth-of-type(2)>figure:hover>div:nth-of-type(1)>img{transform: scale(1);}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(2){position: absolute; top: 0%; left: 0; bottom: 0; right: 0; ; opacity: 0; z-index: -1; transform: scale(1.15); transition: all .3s .15s;  text-align: center;}
#Portfolio>div>section:nth-of-type(2)>figure:hover>div{background-color: rgba(90, 99, 94, 0.55);}
#Portfolio>div>section:nth-of-type(2)>figure:hover>div:nth-of-type(2){opacity: 1; transform: scale(1); z-index: 2; }
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(2){display: flex; justify-content: center; align-items: center;}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(2)>div{ border: 1px solid white; color: white; transform: scale(0.9); height: 100%; display: flex; flex-direction: column; justify-content: center;align-items: center;}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(2)>div>figcaption{font-weight: bold; font-size: 2rem;}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(2)>div>div{padding: 1rem 2rem; border-bottom: 3px solid white;}
#Portfolio>div>section:nth-of-type(2)>figure>div:nth-of-type(2)>div>p{width: 80%; margin: 0 auto; padding: 2rem 0;}

#blog{background-color: #ddd;}
#blog>div{width: 90%; margin: 0 auto; padding: 3rem 1rem;}
#blog>div>section:nth-of-type(1)>h2{font-size: 2rem;  text-align: center;margin-bottom: 2rem;}
#blog>div>section:nth-of-type(2){display: flex; justify-content: space-between; width: 100%; flex-wrap: wrap;}
#blog>div>section:nth-of-type(2)>div{width: 100%; box-shadow:0 0 0.5rem; padding: 2rem; background-color: white; transform: scale(1); transition: all 0.4s;}
#blog>div>section:nth-of-type(2)>div:hover{transform: scale(1.1);}
#blog>div>section:nth-of-type(2)>div>article>header{margin-bottom: 1rem;}
#blog>div>section:nth-of-type(2)>div>article>header>time{color: #666;}
#blog>div>section:nth-of-type(2)>div>article>header>a{transition: all 0.5s;}
#blog>div>section:nth-of-type(2)>div>article>header>a:hover,
#blog>div>section:nth-of-type(2)>div>article>div>h3>a:hover{color: lightgreen;}
#blog>div>section:nth-of-type(2)>div>article>div>h3{ line-height: 2rem;padding: 2.5rem 0; }
#blog>div>section:nth-of-type(2)>div>article>div>h3>a{font-size: 1.5rem; transition: all 0.5s;}
#blog>div>section:nth-of-type(2)>div>article>div>p{margin-bottom: 2rem; font-size: 0.9rem;}
#blog>div>section:nth-of-type(2)>div>article>div>div{width: 33%; /*margin: 0 auto;*/ border-bottom: 2px solid gray; margin-bottom: 2rem;}
#blog>div>section:nth-of-type(2)>div>article>footer{display: flex; align-items: center;}
#blog>div>section:nth-of-type(2)>div>article>footer>span:nth-of-type(1){display: block; width: 3rem; height: 3rem; margin-right: 1rem; border-radius: 50%; overflow: hidden;}

#bookme{padding: 3rem;}
#bookme>div{display: flex; width: 90%; justify-content: space-between; margin: 0 auto; flex-direction: row-reverse;}
#bookme>div>section{width: 43%;}
#bookme>div>section:nth-of-type(1)>h2{line-height: 5rem; font-size: 3.3rem; padding: 2rem 0; text-align: center;}
#bookme>div>section:nth-of-type(1)>p{color: #aaa; font-size: 0.9rem; line-height: 1rem;}
#bookme>div>section:nth-of-type(2):hover>[data-decoration="corner"]>div:nth-of-type(1), 
#bookme>div>section:nth-of-type(2):hover>[data-decoration="corner"]>div:nth-of-type(3){width: 100%;}
#bookme>div>section:nth-of-type(2):hover>[data-decoration="corner"]>div:nth-of-type(2), 
#bookme>div>section:nth-of-type(2):hover>[data-decoration="corner"]>div:nth-of-type(4){height: 100%;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>div{visibility: visible; opacity: 1;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form{padding: 2rem;  transition: all 0.5s;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form>div:not(:last-child){margin-bottom: 1rem;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form input,
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form textarea{border: none; outline: none; border-bottom: 1px solid #aaa; width: 100%; padding: 1rem 0;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form>div:last-child>input{font-size: 1rem; border: 2px solid #42f495; color: #42f495; background-color: white; cursor: pointer;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form>div:last-child>input:hover{background-color: #42f495; color: white;}
#bookme>div>section:nth-of-type(2)>div[data-decoration="corner"]>form>div:last-child>input:hover{color: white; border-color: white; background-color: #42f495;}
#bookme>div>section:nth-of-type(2):hover>div[data-decoration="corner"]>form input,
#bookme>div>section:nth-of-type(2):hover>div[data-decoration="corner"]>form textarea{background-color: #42f495;  transition: all 0.5s;}
#bookme>div>section:nth-of-type(2):hover>div[data-decoration="corner"]>form{background-color: #42f495; color: white;}

/*----- Pad and Phone Style -----*/
@media screen and (max-width:1280px) {
	#slider{margin-top: 50px;}


	#aboutme>div{width:95%; margin: 1rem auto;}
	#aboutme>div>section{width: 100%;}

	#award>div{background:url("../images/bg-image-7-1920x1244.jpg") no-repeat center; padding: 2rem 0;}
	#award>div>div:nth-of-type(1){width: 80%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
	#award>div>div:nth-of-type(1)>figure>div:nth-of-type(1){width: 140px; height: 140px;}
	#award>div>div:nth-of-type(1)>figure>div:nth-of-type(2){ text-align: center; color: white;}
	#award>div>div:nth-of-type(1)>figure>div:nth-of-type(2)>p{padding-top: 1rem;}
	#award>div>div:nth-of-type(1)>figure>div:nth-of-type(2)>div{width: 25%; margin: 1rem auto; border-bottom: 3px solid white;}
	#award>div>div:nth-of-type(1)>figure{width:100%;}

	#blog>div>section:nth-of-type(2)>div:not(:last-child){margin-bottom: 2rem;}

	#bookme>div{flex-direction: column-reverse; width: 100%;}
	#bookme>div>section:nth-of-type(1){width: 80%; margin: 0 auto; padding: 1rem 0;}
	#bookme>div>section:nth-of-type(2){width: 80%; margin: 0 auto;}

}
/*----- Phone Style -----*/
@media screen and (max-width: 600px){
	#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure{width: 100%; top: 0; left: 103%;}
	#slider>div:nth-of-type(1)>section:nth-of-type(2){display: none;}
	#slider>div:nth-of-type(1)>section:nth-of-type(3){display: block;}
	#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure.active{padding:0;}
	#slider>div:nth-of-type(2){display: block;}
	#slider>div:nth-of-type(2)>ul{display: flex; justify-content: center; align-items: center;}
	#slider>div:nth-of-type(2)>ul>li{margin: 0 0.2rem;}
	#slider>div:nth-of-type(2)>ul>li>a{display: block; width: 3rem; height: 0.3rem; background:#ddd;}
	#slider>div:nth-of-type(2)>ul>li.active>a{background: green;}
	#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child{opacity: 1;transform: scale(1);}
}

/*----- Pad Style -----*/
@media screen and (min-width:601px) and (max-width:1280px) {
	#header>div>div:nth-of-type(1)>div{z-index: 2;}

	#aboutme{width: 95%; margin: 0 auto;}
	#aboutme>div{width:100%;display: flex; justify-content: space-between;}
	#aboutme>div>section:nth-of-type(1){width: 55%;}
	#aboutme>div>section:nth-of-type(2){width: 40%;}

	#award>div>div:nth-of-type(1)>figure{width: 45%;}

	#Portfolio>div>section:nth-of-type(2){ grid-template-columns: auto auto;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(1){grid-row: 1/span 1; grid-column: 1/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(2){grid-row: 1/span 2; grid-column: 2/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(3){grid-row: 2/span 1; grid-column: 1/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(4){grid-row: 3/span 2; grid-column: 2/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(5){grid-row: 3/span 1; grid-column: 1/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(6){grid-row: 4/span 1; grid-column: 1/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(2)>div:nth-of-type(2)>div>figcaption,
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(4)>div:nth-of-type(2)>div>figcaption{padding-top: 7rem;}

	#blog>div>section:nth-of-type(2)>div{width: 48%;}

	@keyframes o2R{
	from{left: 100%; top: 10%; width: 60%; opacity: 0; height:auto;z-index:40;}
	to{left: 70%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
	}
	/*右畫面 -> 中間*/
	@keyframes r2A{
		from{left: 70%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
		to{left: 15%; top: 0%; width: 70%; opacity: 1; height:auto;z-index:41;}
	}
	/*中間 -> 左畫面*/
	@keyframes a2L{
		from{left: 15%; top: 0%; width: 70%; opacity: 1; height:auto;z-index:41;}
		to{left: -30%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
	}
	/*左畫面 -> 左畫面外*/
	@keyframes l2O{
		from{left: -30%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
		to{left: -70%; top: 10%; width: 60%; opacity: 0; height:auto;z-index:40;}
	}

	/*左畫面外 -> 左畫面*/
	@keyframes o2L{
		from{left: -100%; top: 10%; width: 60%; opacity: 0; height:auto;z-index:40;}
		to{left: -30%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
	}
	/*左畫面 -> 中間*/
	@keyframes l2A{
		from{left: -30%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
		to{left: 15%;  top: 0%; width: 70%; opacity: 1; height:auto;z-index:41;}
	}
	/*中間 -> 右畫面*/
	@keyframes a2R{
		from{left: 15%; top: 0%; width: 70%; opacity: 1; height:auto;z-index:41;}
		to{left: 60%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
	}
	/*右畫面 -> 右畫面外*/
	@keyframes r2O{
		from{left: 60%; top: 10%; width: 60%; opacity: 0.5; height:auto;z-index:40;}
		to{left: 100%; top: 10%; width: 60%; opacity: 0; height:auto;z-index:40;}
	}
}


/*----- PC Style -----*/
@media screen and (min-width:1281px){
	#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child>figcaption{font-size: 3rem; padding: 2rem 0; margin-bottom: 2rem;}
	#slider>div:nth-of-type(1)>section:nth-of-type(1)>figure>:last-child>p{font-size:1.3rem; padding:0 7rem;line-height:2rem; width: 100%; }
	
	#aboutme{width: 80%; margin: 0 auto;}
	#aboutme>div{width:100%;display: flex; justify-content: space-between; padding: 2rem 0;}
	#aboutme>div>section{width: 45%;}
	#aboutme>div>section:nth-of-type(1){order: 2;}
	#aboutme>div>section:nth-of-type(2){order: 1;}
	#aboutme>div>section:nth-of-type(2)>div:nth-of-type(1){padding: 2rem 0; border-bottom: 1px solid black; }
	#aboutme>div>section:nth-of-type(2)>div:nth-of-type(1)>h2{font-size: 4vw; margin-bottom: 2rem;}
	#aboutme>div>section:nth-of-type(2)>div:nth-of-type(1)>p{font-size: 1.5vw; color: #666; font-style: italic; line-height: 3vw;}
	#aboutme>div>section:nth-of-type(2)>div:nth-of-type(2)>p{line-height: 2vw;}
	#aboutme>div>section:nth-of-type(2)>div:nth-of-type(2)>a{font-size: 1.5vw; width: 40%;}

	#award>div>div:nth-of-type(1){width: 80%;}

	#Portfolio>div>section:nth-of-type(2){ grid-template-columns: auto auto auto auto;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(1){grid-row: 1/span 1; grid-column: 1/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(2){grid-row: 1/span 2; grid-column: 2/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(3){grid-row: 1/span 1; grid-column: 3/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(4){grid-row: 1/span 2; grid-column: 4/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(5){grid-row: 2/span 1; grid-column: 1/span 1;}
	#Portfolio>div>section:nth-of-type(2)>figure:nth-of-type(6){grid-row: 2/span 1; grid-column: 3/span 1;}

	#blog>div>section:nth-of-type(2)>div{width: 30%;}
}